<%= render 'books/list', user: @user, book: @book %>


<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100, 100) %>
  <% if @user == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<% @books.each do |book| %>
<div>
  <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100, 100) %></p>
  <p>Title：<%= book.title %></p>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>









