<%= render 'books/list', user: @user, book: @book %>
  
  
  <h2>Books</h2>
  
  
  <% if @user == current_user.id %>

  <% end %>
  
</div>

<% @books.each do |book| %>
<div>
  <%= link_to user_path(book.user.id) do %>
    <p><%= image_tag book.user.get_profile_image(100, 100) %></p>
  <% end %>
  <%= link_to book_path(book.id) do %>
    <%= book.title %>
  <% end %>

  <p>Title <%= book.title %></p>
  <p>Opinion <%= book.body %></p>
</div>
<% end %>


