

<script src="https://kit.fontawesome.com/3e77649537.js" crossorigin="anonymous"></script>



<h2>User info</h2>

    <div>
  
    <%= image_tag user.get_profile_image(100, 100) %>
  
  
     <table class="table">
     <tbody>
      <tr></tr>
      <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
</tbody></table>



 <%= link_to edit_user_path(user), class: 'btn btn-outline-secondary btn-sm btn-block mb-3 sign_in' do %>
   
   <i class="fas fa-user-cog"></i>
 <% end %>

<h2>New Book</h2>
  <%= form_with model: book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %></br>
      
    <%= f.submit 'Create Book', class: 'btn btn-success' %>
   
    
  <% end %>
  
  