<%= render 'list', user: @user, book: @book %>



<% @books.each do |book| %>
<div>
  <p><%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>Title：<%= book.title %></p>
  <p>Opinion：<%= book.body %></p>
  <p>ユーザー名：<%= book.user.name %></p>
</div>
<% end %>