<%= render 'books/list', user: @user, book: @book %>



<div>
  <p>Title：<%= @book.title %></p>
  <p>Opinion：<%= @book.body %></p>
  <p>投稿ユーザー画像：<%= image_tag @book.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>
</div>






<%= link_to "削除", destroy_book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

